nav {
  font-family: 'Bungee', sans-serif;
  height: 120px;
  background-color: #FF9F1C;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
  overflow: hidden;
 }

span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.6em;
  color: #FFFFFF; 
  padding: 1.5em;
}

.compose {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.95em;
  color: #FFFFFF;
  padding: 1.5em;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

b, strong {
  font-weight: 700;
}