article.tweet {
  width: 100%;
  background-color: #f4f1ec;
  outline: none;
  border: 3px solid #A35F00;
  margin-top: 2em;
  margin-bottom: 2em;
  transition: box-shadow 0.5s;
}

article.tweet:hover {
  box-shadow: 7px 7px 0px rgba(163,95,0,.5)
}

article.tweet:hover .handle {
  transition: 0.5s;
  display: block;
}

article.tweet header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  background-image: none;
  height: auto;
  padding: 0px 15px 0px 15px;
}

article.tweet footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: transparent;
  background-image: none;
  height: auto;
  padding: 0px 25px 0px 25px;
  width: 100%;
}

main.posted-tweet p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 0px 10px 15px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 3px solid #A35F00;
}

span.icons {
  color: #A35F00;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.handle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #A35F00;
  display: none;
  transition: display 0.5s;
}

.profile-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.avatar {
  padding: 10px 10px 0px 0px;
  margin-bottom: 40px;
}

/*----------------------------------------------------*/
/* RESPONSIVE CODE */
/*----------------------------------------------------*/

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 1.5rem;
  }

  body > header {
    width: 50%;
    margin: 1.5rem 2rem;
  }

  main {
    width: 100%;
  }

  main.posted-tweet p {
    font-size: 20px;
  }

  article.tweet footer {
    font-size: 12px;
  }

  .name {
    font-size: 15px;
  }

  label {
    font-size: 25px;
  }

  ::placeholder {
    font-size: 20px;
  }

  .compose {
    font-size: 20px;
  }

  button {
    font-family: 'Bungee', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 0.5em;
    padding: 5px 10px;
    background-color: #FF9F1C;
    border: none;
  }

  .counter {
    font-size: 12px;
  }
}

/* Enable larger text sizes for desktops smaller than 1023px wide, includes tablets and phones */
@media only screen and (max-width: 1023px) {
  main.posted-tweet p {
    font-size: 30px;
  }

  article.tweet footer {
    font-size: 25px;
  }

  .name {
    font-size: 30px;
  }

  label {
    font-size: 30px;
  }

  ::placeholder {
    font-size: 25px;
  }

  .compose {
    font-size: 30px;
  }

  button {
    font-size: 30px;
    margin-top: 0.5em;
    padding: 10px 20px;
    background-color: #FF9F1C;
    border: none;
  }

  .counter {
    font-size: 25px;
  }
}